.main-div {
  height: 650px;
  width: 1000px;
  display: flex;
  text-align: left;
}

.left-side {
  width: 55%;
  height: 570px;
  padding: 40px;
  background: #eeb3cd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom left,
    #aa81b7,
    #eeb3cd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom left, #aa81b7, #eeb3cd);
}

// .right-side {
//   width: 45%;
//   height: 580px;
//   padding: 35px;
// }
.right-side {
  width: 40%;
  height: 570px;
  padding: 40px;
  background: #a384bc;
  background: -webkit-linear-gradient(to bottom right, #cbb2d4, #a384bc);
  // background: linear-gradient(to bottom right, );
  background: linear-gradient(to right, #cbb2d4, #c496c1, #a384bc);
}

.temp {
  font-size: 150px;
  font-weight: 200;
  margin: 0;
  .celcius {
    font-size: 50px;
    position: absolute;
    top: 170px;
  }
}

.current-date {
  font-size: 40px;
  margin: 0px;
}

.day-time {
  font-size: 18px;
  margin: 5px 0 30px 0;
  .day {
    padding-right: 10px;
    border-right: 1px solid white;
  }
  .time {
    padding-left: 10px;
  }
}

.other-data {
  font-size: 15px;
  margin: 5px 0 30px 0;
  .wind {
    padding-right: 20px;
    border-right: 1px solid white;
  }
  .humidity {
    padding: 0 20px;
    border-right: 1px solid white;
  }
  .weather {
    padding-left: 20px;
  }
}

.daysummary {
  text-align: center;
  width: 40px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  border-color: black;
}

.search-btn {
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
  height: 40.5px;
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  vertical-align: middle;
  border-radius: 10px;
  margin-left: 10px;
}

.current-Location {
  font-size: 22px;
  font-family: sans-serif;
  margin: 5px;
  width: 270px;
  display: inline-block;
}
.search-bar {
  font-size: 22px;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  width: 250px;
  height: 20px;
  border-radius: 10px;
  color: white;
  border-color: white;
  padding: 10px;
  vertical-align: middle;
  &:focus {
    border: none;
    outline: none;
  }
}

@media screen and (max-width: 900px) {
  .main-div {
    display: block;
  }
  .right-side {
    width: 55%;
  }
}
