.circle {
  border-radius: 50%;
  background: gray;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.segment {
  float: left;
  width: 10%;
  height: 100%;
}
.segment_1 {
  background: red;
}
.segment_2 {
  background: green;
}
.segment_3 {
  background: yellow;
}
.segment_4 {
  background: blue;
}
